.main-footer {
  background-image: -o-linear-gradient(
    266.59deg,
    #67c3f3 -8.57%,
    #5a98f2 82.96%
  );
  background-image: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}
.footer-link {
  list-style-type: none;

  color: rgba(255, 255, 255, 1);
}
.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

