.section-header {
  margin-bottom: 75px;
}

.section-title {
  margin: 0;
  text-align: center;
  font-style: 36px;
  margin-bottom: 26px;
}

.section-line {
  width: 56px;
  height: 2px;
  margin: 0 auto 33px auto;
}

.section-subtitle {
  margin: 0 auto;
  text-align: center;
  max-width: 952px;
}

.our-services-list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 -18;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 58px;
}

.our-services-list li:nth-child(1)::before {
  content: url(./../img/lupa.svg);
}

.our-services-list li:nth-child(2)::before {
  content: url(./../img/online\ phatmacy.svg);
}

.our-services-list li:nth-child(3)::before {
  content: url(./../img/consultation.svg);
}

.our-services-list li:nth-child(4)::before {
  content: url(./../img/details\ info.svg);
}

.our-services-list li:nth-child(5)::before {
  content: url(./../img/emergeny\ care.svg);
}

.our-services-list li:nth-child(6)::before {
  content: url(./../img/tracking.svg);
}

.our-services-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 18;
  width: 350px;
  padding: 45px 35px;
  background-color: white;
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}

.our-services-list li img {
  margin-bottom: 22px;
  height: 95px;
  width: 70px;
}

.our-services-list li h3 {
  margin: 0;
  margin-bottom: 12px;
}

.our-services-list li p {
  margin: 0;
}

.our-services-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}